<html>
<head><title>CarSharer</title>
   <link rel="stylesheet"  href="static/root.css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
		<h1> CarSharer Website </h1>
		</div>

		<div id="site">
			<h3>My Reserved Drives</h3>
			{%for i in range(0, totalfahrt1)%}
         {%set icon=('auto.png', 'bus.png', 'kleintransporter.png')[fahrtType1[i]-1]%}
         <a href="/view_drive?fid={{ fid1[i] }}">
         <div class="card-btn" style="border: 2px solid #AEAEEF; padding: 10px; width: 45%; margin: 10px; display: inline-block; text-align: center;">
            <img src="/static/icons/{{icon}}" style="max-width: 100px;"/> <br>
			From: {{ fahrtStart1[i] }} <br>
			To: {{ fahrtEnd1[i] }} <br>
			Status: {{ fahrtStatus1[i] }} <br>
         </div>
         </a>
			<br>
          	{% endfor %}
			<br>
			<h3>Available Drives
         <a href="/view_search"><img src="/static/icons/search.png" style="height: 23px;" /></a>
         </h3>
			{%for i in range(0, totalfahrt)%}
         {%set icon=('auto.png', 'bus.png', 'kleintransporter.png')[fahrtType[i]-1]%}
         <a href="/view_drive?fid={{ fid[i] }}">
         <div class="card-btn" style="border: 2px solid #AEAEEF; padding: 10px; width: 45%; margin: 10px; display: inline-block; text-align: center;">
            <img src="/static/icons/{{icon}}" style="max-width: 100px;"/> <br>
			From: {{ fahrtStart[i] }} <br>
			To: {{ fahrtEnd[i] }} <br>
			Free Places: {{ freePlace[i] }} <br>
			Cost: {{ fahrtCost[i] }} €<br>
         </div>
         </a>
			<br>
          	{% endfor %}

            <a href="new_drive" class="btn">New Drive</a>
		</div>
	</div>
</body>
</html>
