<!--
param errmsg: The error message to display
param prevPage: previous page, to redirect to
-->
<html>
<head><title>CarSharer</title>
   <link rel="stylesheet"  href="static/root.css" />
</head>

<body>
	<div id="wrapper">
      <a href="/">
         <div id="header">
         <h1> CarSharer </h1>
         </div>
      </a>

		<div id="site">
         <div class="error-msg" style="color: red;background-color: lightpink; border-left: 4px solid red; padding: 20px; margin: 20px;">
            <h4>{{errmsg}}</h4>
         </div>
         <a href="{{prevPage}}" class="btn">Go back</a>
		</div>
	</div>
</body>
</html>
