<html>
<head>
   <title>New Drive</title>
   <link rel="stylesheet"  href="static/root.css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
		<h1> CarSharer Website </h1>
		</div>

      <div id="site">
  <form name="create-drive" action="new_drive" method="post">
     Von: <input type="text" name="depart" required><br/>
     Bis: <input type="text" name="destination" required><br/>
     Maixmale Kapazität: <input type="number" name="maxcap" min="1" max="10" required> <br/>
     Fahrtkosten: <input type="number" name="cost" step="0.01" /> € <br/>
     Transportmittel:
        <input type="radio" name="vehicletype" value="Auto" required>
        <label for="Auto">Auto</label>
        <input type="radio" name="vehicletype" value="Bus">
        <label for="Bus">Bus</label>
        <input type="radio" name="vehicletype" value="Kleintransporter">
        <label for="Kleintransporter">Kleintransporter</label>
      <br/>
      Fahrtdatum: <input type="datetime-local" name="drivedatetime" value="" required>
      <br/>
      Beschreibung: <textarea name="description" placeholder="" maxlength="50"></textarea> <br/>
    <input type="submit" value="Save">
  </form>

   </div>
   </div>
</body>
</html>
