<head>
    <title>Add Rating</title>
   <link rel="stylesheet"  href="static/root.css" />
</head>
<body>
    <div id="wrapper">
      <a href="/">
         <div id="header">
         <h1>CarSharer</h1>
         </div>
      </a>

      <div id="site">
         <h2>New Rating</h2>
         <form name="new_rating" action="/new_rating?fid={{fid}}" method="POST">
     Comment:      
     <textarea placeholder="Enter rating here" rows="5" cols="38" name = "comment" required></textarea>

      <br>
      <br>

      Rating: <br>
      <input type="radio" Name="rating" Value ="1"> 1
      <input type="radio" Name="rating" Value ="2"> 2
      <input type="radio" Name="rating" Value ="3"> 3
      <input type="radio" Name="rating" Value ="4"> 4
      <input type="radio" Name="rating" Value ="5"> 5

      <br>
      <br>

      <input type="submit" value="Rate">




  </form>

   </div>
   </div>
</body>
</html>
