<!--
   param driverEmail: query from db
   param dateTime: date and time formatted in 'dd.MM.yyyy  hh:mm'
   param from
   param to
   param freeSeats: calculate
   param status: 'open' or 'closed'
   param description: dash '-' if None
   param ratings: [(email, comment, rating), ...]
   param ratingAvg: average rating
-->
<!-- TODO: 
- date time formatting
- 
-->
<html>
<head><title>CarSharer</title>
   <link rel="stylesheet"  href="static/root.css" />
<style>
         table.ratings-list{
            margin: 10px;
            padding: 8px;
            width: 100%;
         }

         .ratings-list tr{
            padding: 10px;
            width: 100%;
         }

         .ratings-list td{
            padding: 8px 30px;
            margin: 0px auto;
         }
</style>
</head>

<body>
	<div id="wrapper">
      <a href="/">
         <div id="header">
         <h1> CarSharer </h1>
         </div>
      </a>

		<div id="site">
         <h2>Information</h2>
         <table class="table-subtle"> <tbody>
               <tr><td>Offered by: </td><td>{{driverEmail}}</td></tr>
               <tr><td>Departure date and time: </td><td>{{drive.getDriveDateTimeStr()}}</td></tr>
               <tr><td>From: </td><td>{{drive.startort}}</td></tr>
               <tr><td>To: </td><td>{{drive.zielort}}</td></tr>
               <tr><td>Free seats: </td><td>{{freeSeats}}</td></tr>
               <tr><td>Cost: </td><td>{{drive.fahrtkosten}} €</td></tr>
               <tr><td>Status: </td><td>{{status}}</td></tr>
               <tr><td>Description: </td><td>{{drive.getDescription()}}</td></tr>
         </tbody></table>

         <hr>
         <h3> Reservation</h3>
         <form action="/new_reservation" method="post">
            <!-- TODO add dynamic max value: min(2, freeSeats)  -->
            Seats to reserve: <input type="number" min="1" max="2" name="reservationcount" required>
            <input type="number" name="fid" style="display: none;" value="{{fid}}">
         <button type="submit">Place Reservations</button>
         </form>

         {% if iscreator %}
         <form action="/delete_drive" method="post">
            <input type="number" name="fid" style="display: none;" value="{{fid}}">
            <button type="submit">Delete this Drive</button>
         </form>
         {% endif %}

         <hr>
         <div>
            <b style="margin-right: auto;"> Ratings</b>
            <b>Average: {{ratingAvg}}</b>
         </div>
         <table class="ratings-list">
         {%for r in ratings%}
         <tr><td>{{r[0]}}</td><td><span style="display: inline-block;">{{r[1]}}</span></td><td>{{r[2]}}</td> </tr>
         {%endfor%}
         </table>

         <a href="/new_rating?fid={{fid}}" class="btn"><span>Rate this trip </span></a>
		</div>
	</div>
</body>
</html>
