<head>
    <title>Search</title>
   <link rel="stylesheet"  href="static/root.css" />
</head>
<body>
    <div id="wrapper">
      <a href="/">
         <div id="header">
         <h1> CarSharer Website - Search</h1>
         </div>
      </a>

      <div id="site">
          <h2>Search</h2><br/>
  <form name="search-drive" action="#" method="GET">
     Start: <input type="text" name="start" required>
     Destination: <input type="text" name="destination" required><br/>
      From: <input type="date" name="fromdate" required>
    <input type="submit" value="Search">
  </form>
  <br/>
   </div>

		<div id="site">
			<h2>Search Results ({{ totalfahrt }})</h2><br/>
          {%for i in range(0, totalfahrt)%}
			<p>
			<a href="/view_drive?fid={{ fahrtId[i] }}" >
            <img src="static/icons/{{
('auto.png', 'bus.png', 'kleintransporter.png')[fahrtType[i]-1] }}" />
         </a><br>
			From: {{ fahrtStart[i] }} <br>
			To: {{ fahrtEnd[i] }} <br>
			Price: {{ fahrtCost[i] }} €<br>
			</p>
			<br>
          {% endfor %}
			<br>

		</div>
   </div>
</body>
</html>
