
* {
   margin:0;
   padding:0;
}

body{
   text-align:center;
   background: #efe4bf none repeat scroll 0 0;
}

#wrapper{
   width:960px;
   margin:0 auto;
   text-align:left;
   background-color: #fff;
   border-radius: 0 0 10px 10px;
   padding: 20px;
   box-shadow: 1px -2px 14px rgba(0, 0, 0, 0.4);
}

#header{
 color: #fff;
 background-color: #2c5b9c;
 height: 3.5em;
 padding: 1em 0em 1em 1em;

}

#site{
    background-color: #fff;
    padding: 20px 0px 0px 0px;
}
.centerBlock{
	margin:0 auto;
}

hr{
   margin: 10px 0px;
}

a:link{
   color: black;
   text-decoration: none;
}

.btn:link {
   background-color: #2c5b9c;
   padding: 6px 8px;
   margin: 6px 6px;
   color: white;
}

.btn:visited {
   color: white;
}

.table-subtle {
   margin: 10px;
}

.table-subtle tr{
   padding: 4px;
}

.table-subtle td{
   padding: 4px 8px;
}

.table-subtle td:first-child{
   text-align: right;
}
